.closeIconContainer {
    justify-content: end;
}

.closeIconButton {
    color: #919191;
}

.drawer {
    width: 82% !important;
}

@media only screen and (min-width: 630px) {
    /* .newsletter .container {
      padding: 140px;
    } */
  
    .openIconContainer {
        margin-left: 1rem;
    }
}

.drawerContent :global(.vtex-menu-2-x-styledLinkContent) {
    border-bottom: 1px solid #D5D6D2;
    width: 83%;
}