.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  font-size: 1.2em;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: center;
  width: 80%;
}

.imageContainer {
  text-align: center;
  width: 150px;
}

.image {
  border-radius: 0.25rem;
}

.element :global(.vtex-button) {
  opacity: 0;
}

@media only screen and (min-width: 1024px) {

  .containerNormal  {
    max-width: 400px !important;
  }

  .element:hover {
    border-width: 1px;
  }

  .element {
    height: 470px;
    padding: 50px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .1s ease-in-out;
    border: 0px solid #000;
  }

  .element:hover :global(.vtex-product-summary-2-x-imageNormal) {
    opacity: 0.5;
    transition: all .2s ease-in;
  }

  .element:hover :global(.vtex-button) {
    display: block;
    opacity: 1;
    transition: all .2s ease-in;
  }

  .element :global(.vtex-button) {
    background-color: #ffc644;
    width: 100%;
    min-height: 45px;
    border: none;
    border-radius: 0;
    margin-top: 3rem;
    opacity: 0;
  }
}

.element :global(.vtex-button__label) {
  font-family: Montserrat Bold, Arial, sans-serif;
}