.buttonLink :global(.vtex-button__label) {
    display: none;
}

.buttonLink {
    background-image: url("https://merciwithlove.vteximg.com.br/arquivos/ico-user.png");
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.1rem;
}
