.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 1024px) {

  .flexRow--vitrine {
    width: 75% !important;
    margin: 2rem auto;
  }
}


@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #fff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  justify-content: space-between !important;
  padding: 0.625rem 0;
  background-color: #fff;
  width: 100%;
}

.flexRow--main-header-mobile :global(.vtex-login-2-x-container) {
  margin-right: -50px;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent {
  justify-content: center;
}

.flexRow {
  width: 100%;
}

.flexRow--notificationBar {
  background-color: #73708B;
  height: 22px;
}

.flexRow--casamento {
  margin-top: 1.5rem;
}

.flexRow--casamento :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
}

.flexRow--casamento :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--entrega {
  width: 100%;
  height: 900px;
}

.flexRow--entrega :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--payment-methods {
  background-color: #f0f0f0;
}

.flexRow--payment-methods :global(.vtex-store-components-3-x-container) {
  width: 90%;
  margin: 0 auto;
}

.flexColChild--payment-methods :global(.vtex-rich-text-0-x-paragraph) {
  color: #73708B;
  margin: 0;
}

.flexRow--footer-mobile {
  background-color: #413f4e;
}

.flexRow--logo-texto {
  background-color: #f0f0f0;
  background-image: url("https://merci2019.vteximg.com.br/arquivos/merci-logo-mask.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: .6rem;
}

.flexRowContent--logo-texto :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--sobre-marca {
  flex-direction: column;
  align-items: center;
}

.flexRowContent--logo-texto {
  flex-direction: column;
}

.flexRow--footer-mobile :global(.vtex-store-components-3-x-container) {
  width: 85%;
}

.flexRow--footer-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin-top: .5rem;
}

.flexRow--main-header-mobile :global(.vtex-store-drawer-0-x-menuIcon) {
  color: #73708b;
}

.flexRow--vazia {
  height: 40px;
}

.flexRow--vitrine2 :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  margin-bottom: -30px;
}

.flexRow--newsletter {
  width: 100%;
  background-color: #f0f0f0;
  max-width: 1080px;
  margin: 0 auto;
}

.flexRowContent--newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding: 15px 14px 15px;
  border-top-left-radius: 92px;
  border-top-right-radius: 92px;
  background-color: #fff;
  margin-top: 3.8rem;
}

.flexRowContent--newsletter :global(.vtex-store-newsletter-1-x-emailInputContainer) {
  width: 50%;
  margin: 0 auto;
}

.flexRowContent--newsletter :global(.vtex-store-newsletter-1-x-nameInputContainer) {
  width: 50%;
  margin: 0 auto;
  margin-top: .3rem;
}

.flexRowContent--newsletter :global(.vtex-input-prefix__group) {
  border: none;
}

.flexRowContent--newsletter :global(.vtex-styleguide-9-x-input) {
  letter-spacing: .2em;
}

.flexRowContent--newsletter :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #384238;
  text-align: center;
  font-style: italic;
}


.flexRowContent--newsletter :global(.vtex-button) {
  margin-top: .3rem;
  width: 100%;
  display: block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #73708b;
  color: #73708b;
  background-color: transparent;
  font-weight: normal;
  border-radius: 0;
  letter-spacing: .12em;
}

.flexRowContent--home-notification-bar {
  background-color: #73708B;
  color: #FFFFFB;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  height: 1.3rem;
}

.flexRowContent--home-notification-bar :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
  font-size: .75em;
  color: white;
  font-weight: 600;
  letter-spacing: .02rem;
}


.flexRowContent--main-header :global(.vtex-store-components-3-x-logoLink) {
  display: flex;
}

.flexRowContent--rowNavDekstop {
  gap: 1rem;
  align-items: center;
  margin-right: 40px;
}

.flexRowContent--rowShelfDesktop {
  width: 80%;
  margin: 0 auto;
  gap: 2.5rem;
}

.flexRowContent--rowShelfDesktop :global(.vtex-store-components-3-x-imageElement) {
  height: 400px;
}

.flexRow--footer-1-desktop {
  background-color: #73708b;
  color: white
}

.flexRowContent--footer-1-desktop {
  width: 80%;
  margin: 0 auto;
}

.flexRowContent--imagens-sociais-desktop {
  display: block;
}

.flexRowContent--imagens-sociais-desktop .stretchChildrenWidth {
  width: 100% !important;
  margin: 0;
}

.flexColChild--col-atelie {
  width: 85%;
}

.flexColChild--col-institucional {
  margin-left: 50px;
}

.flexRow--newsletter :global(.vtex-store-newsletter-1-x-emailInputContainer),
.flexRow--newsletter :global(.vtex-store-newsletter-1-x-nameInputContainer) {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .flexRowContent--newsletter :global(.vtex-button__label) {
    border: none;
    width: 2%;
    margin-right: 0;
    background-image: url(https://merciwithlove.vteximg.com.br/arquivos/send-button.png);
    background-repeat: no-repeat;
    margin-left: auto;
    text-indent: -213213px;
    height: 2.4rem;
  }

  .flexRow--newsletter :global(.vtex-store-newsletter-1-x-emailInputContainer),
  .flexRow--newsletter :global(.vtex-store-newsletter-1-x-nameInputContainer) {
    margin: auto;
    opacity: 0.5;
  }

  .flexRowContent--newsletter :global(.vtex-styleguide-9-x-input) {
    font-size: .8rem;
  }

  .flexRowContent--newsletter :global(.vtex-styleguide-9-x-input)::placeholder {
    text-align: left;
  }

  .flexRowContent--newsletter :global(.vtex-input-prefix__group) {
    border-bottom: 1px solid gray;
    width: 85%;
  }

  .flexRowContent--newsletter :global(.vtex-rich-text-0-x-paragraph--sobreTexto) {
    letter-spacing: .3rem;
    font-size: 1.3rem;
  }

  .flexRowContent--newsletter :global(.vtex-rich-text-0-x-container--sobreTexto) {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
  }

  .flexRowContent--newsletter :global(.vtex-button) {
    border: none;
    margin-top: 15px;
    margin-left: -40px;
  }

  .flexRowContent--newsletter :global(.vtex-store-newsletter-1-x-newsletterForm) {
    display: flex;
  }

  .flexRowContent--sobre-marca :global(.vtex-rich-text-0-x-wrapper--sobreTexto) {
    margin-bottom: 65px;
  }

  .flexRow--images-social-desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 25% !important;
  }

  .flexRowContent--images-social-desktop {
    justify-content: start;
    width: 55%;
    gap: 0.1rem;
  }
}

.flexRowContent--imagens-payment-methods {
  gap: 2rem;
  height: 1.3rem;
  margin: 35px auto;
  display: flex;
  align-items: center;
}

.flexRowContent--vitrine :global(.vtex-slider-layout-0-x-sliderTrackContainer) {
  margin-bottom: 100px;
}