.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}


.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-bottom: 1rem;
  color: #73708b;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.container--rowPresente {
  justify-content: center;
  color: #73708b;
  font-weight: 700;
  margin: 0.3rem 0;
  letter-spacing: 0.03em;
}

.container--rowDestaque {
  justify-content: center;
  color: #73708b;
  font-weight: 700;
  margin: 0.3rem 0;
  letter-spacing: 0.03em;
}

.wrapper--participantes {
  width: 100%;
  display: flex;
}

.wrapper--participantes :global(.vtex-rich-text-0-x-paragraph) {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.container--redes-sociais-mobile {
  color: white;
  justify-content: center;
  font-size: 1.2rem;
}

.paragraph--redes-sociais-mobile {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.container--sobreTitle {
  justify-content: center;
  color: #73708b;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
  padding: 0;
}

.paragraph--sobreTexto {
  text-align: center;
  color: #73708b;
  margin: 0 auto;
  
}

@media only screen and (min-width: 750px) {
  .flexRowContent--sobre-marca :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100%;
  }
}