.styledLinkContent {
    letter-spacing: 0.08em;
    flex-direction: row-reverse;
    padding: 1.15em 0;
    color: inherit;
    font-size: .9rem;
    font-family: Montserrat Semibold, Arial, sans-serif;
    justify-content: left;
}

.styledLinkContent--footer-options {
    justify-content: space-between;
    flex-direction: row;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 2.2rem;
    padding: 0.4rem;
}

@media only screen and (min-width: 640px) { 
    .styledLinkContent--footer-options {
        width: 40%;
        margin: 0 auto;
        font-size: 1rem;
    }
}

.styledLinkContent--footer-options-intern {
    color: white;
    border: none;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 auto;
    padding: 0.4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.menuContainerNav {
    width: 95%;
}

.styledLinkContainer {
    position: relative;
}

.styledLinkIcon {
    position: absolute;
    right: 0;
}

.submenu--menu-nv2 {
    width: 1200px;
    height: 450px;
}
