.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  font-size: 1.2em;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: center;
  width: 80%;
}

.imageContainer {
  text-align: center;
  width: 150px;
}

.image {
  border-radius: 0.25rem;
}

.element:hover {
  border: 1px solid #000;
  border-radius: 0;
}

.element {
  height: 470px;
  padding: 50px;
}

.element:hover :global(.vtex-button) {
  display: block;
}

.element :global(.vtex-button) {
  display: none; 
  background-color: #ffc644;
  width: 100%;
  min-height: 45px;
  border: none;
  border-radius: 0;
  margin-top: 3rem;

}

.element :global(.vtex-button__label) {
  font-family: Montserrat Bold, Arial, sans-serif;
}
