.notificationBarContainer {
  background-color: #73708B;
  color: #FFFFFB;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.flexRowContent--main-header-mobile {
  width: 100%;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #f0f0f0;
  max-width: 1080px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 15px 14px 15px;
  border-top-left-radius: 92px;
  border-top-right-radius: 92px;
  background-color: #fff;
  margin-top: 3.8rem;
}

.label {
  color: #73708b;
  font-size: .8rem;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 2.5px;
}

.inputGroup {
  padding-bottom: 4px;
  display: block;
  color: #fff;
}

.inputGroup :global(.vtex-input-prefix__group) {
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
  text-align: center;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  border: 1px solid #f0f0f0;
  font-weight: normal;
  font-size: 14px;
  color: #384238;
  letter-spacing: .15em;
  font-style: italic;
}

.inputGroup :global(.vtex-button) {
  width: 100%;
  height: 33px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  color: #73708b;
  letter-spacing: .18em;
  background: transparent;
  border: 1px solid;
  text-transform: uppercase;
  margin-top: 8px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  /* .newsletter .container {
    padding: 140px;
  } */

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  text-align: center;
  font-weight: normal;
  font-size: 1.1rem;
}

.infoCardContainer--entrega {
  background-color: #000000;
}

.container--header-mobile :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.logoContainer--searchIconMobile {
  margin-left: -25px;
}

.logoContainer {
  padding: 0px;
}

.imageElement--image-marca {
  margin-top: 3rem;
}

.infoCardContainer--info-card-entrega {
  display: flex;
  flex-direction: column-reverse;
}

.infoCardTextContainer--info-card-entrega {
  position: absolute;
  margin-bottom: 130px;
}

.infoCardHeadline, .infoCardSubhead {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.infoCardSubhead {
  width: 95%;
  text-align: center;
}

.infoCardTextContainer :global(.vtex-button) {
  display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    border: 1px solid #fff;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    font-weight: normal;
}

.infoCardCallActionContainer {
  width: 100%;
}